logs/test/*
logs/train/*
!logs/.gitkeep
!logs/train/Saved_TSP100_Model/

wandb/**

results/**
!results/.gitkeep

data/**
!data/.gitkeep
!data/*.sh

configs/sweeps

scripts/**

**/__pycache__
**/.vscode
.ipynb_checkpoints