logs/test/*
logs/train/*
!logs/.gitkeep
!logs/train/Saved_TSP100_Model/

wandb/**

results/*
!results/.gitkeep
!results/saved_models

data/**
!data/.gitkeep
!data/*.sh

configs/sweeps
configs/final_test

scripts/*
!scripts/final_test

**/__pycache__
**/.vscode
.ipynb_checkpoints